mat-spinner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 100%;
}

#empty-transaction-msg {
  text-align: center;
  color: gray;
}

mat-list-item.transaction-list-item {
  height: auto;
  min-height: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;

  img[matListItemAvatar] {
    border-radius: 4px;
    width: calc(100vw / 5);
    height: calc(100vw / 8);
    max-width: 150px;
    max-height: 80px;
    margin-top: 0;
    margin-bottom: 0;
    object-fit: cover;
    align-self: center;
  }

  .mdc-list-item__content {
    align-self: center;
  }

  button {
    flex-shrink: 0;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button.received {
    color: var(--ion-color-dark-contrast);
    border-color: var(--noir-simple);
    background-color: var(--noir-simple);
  }

  button.delivered {
    color: var(--noir-simple);
    border-color: var(--noir-simple);
  }

  button.inProgress {
    color: var(--noir-secondary-dark);
    border-color: var(--noir-secondary-dark);
  }

  button.waitingToBeAccepted {
    color: var(--ion-color-dark-contrast);
    border-color: var(--noir-secondary-dark);
    background-color: var(--noir-secondary-dark);
  }

  button.returned {
    color: var(--ion-color-dark-contrast);
    border-color: var(--noir-warn);
    background-color: var(--noir-warn);
  }

  button.missed {
    color: var(--noir-warn);
    border-color: var(--noir-warn);
  }
}
