div[mat-dialog-content] {
  mat-spinner {
    margin: auto;
  }

  mat-list-item.contact-list-item {
    height: auto;
    min-height: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    align-items: center;

    img[matListItemAvatar] {
      margin-top: 0;
      margin-bottom: 0;
      align-self: center;
    }

    .mdc-list-item__content {
      align-self: center;
    }
  }
}
