<mat-toolbar>
  <app-capture-back-button></app-capture-back-button>
</mat-toolbar>
<div *ngrxLet="series$ as series" class="page-content">
  <ion-card>
    <ion-img
      [src]="
        series.cover_image || '/assets/images/series-cover-placeholder.png'
      "
    ></ion-img>
  </ion-card>
  <mat-grid-list cols="3" gutterSize="8px">
    @for (collection of series.collections; track collection) { @for (asset of
    collection.assets; track asset) {
    <mat-grid-tile>
      <div [ngClass]="collection.collection_type">
        @if (asset.collected) {
        <ion-img
          [routerLink]="['../details', { type: 'series', id: asset.id }]"
          [src]="asset.asset_file_thumbnail"
        ></ion-img>
        } @else {
        <ion-img
          src="/assets/images/question-mark-circle.png"
          class="missing"
        ></ion-img>
        }
      </div>
    </mat-grid-tile>
    } }
  </mat-grid-list>
</div>
