<mat-toolbar>
  <app-capture-back-button></app-capture-back-button>
  <span>{{ title$ | async | transloco }}</span>
</mat-toolbar>

@if (form$ | async; as form) {
<ion-content>
  <p class="description">
    {{ description$ | async }}
  </p>
  <div class="image">
    @if (thumbnail$ | async; as thumb) {
    <ion-img [src]="thumb"></ion-img>
    } @else {
    <div class="img-placeholder"></div>
    }
  </div>
  <form [formGroup]="form.form">
    <formly-form
      [form]="form.form"
      [fields]="form.fields"
      [model]="form.model"
    ></formly-form>
  </form>
</ion-content>
<ion-footer>
  <div class="price">
    <div class="price-in-num">Price (NUM):</div>
    <div class="price-number">{{ price$ | async }} NUM</div>
  </div>
  <ion-button
    type="submit"
    shape="round"
    [disabled]="!form.form.valid"
    (click)="performAction(form.model)"
  >
    {{ title$ | async | uppercase }}
  </ion-button>
</ion-footer>
} @else {
<ion-spinner name="lines-sharp"></ion-spinner>
}
