mat-toolbar {
  span {
    padding-right: 40px;
  }
}

mat-list-item.info-list-item {
  height: auto;
  min-height: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  align-items: center;

  mat-icon {
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
  }

  .mdc-list-item__content {
    align-self: center;
  }
}
