<!-- Display content if the network is connected -->
@if (networkConnected$ | ngrxPush) {
<!-- Display iframe if the iframeUrl is available -->
@if (iframeUrl$ | ngrxPush; as iframeUrl) {
<iframe [src]="iframeUrl" allow="accelerometer; gyroscope"></iframe>
}
<!-- Display spinner while iframe is loading -->
@if (!(iframeLoaded$ | ngrxPush)) {
<ion-spinner name="lines-sharp"> </ion-spinner>
} } @else {
<div class="no-network-text">
  {{ 'message.networkNotConnected' | transloco }}
</div>
}

<!-- Display no network text when the network is not connected -->
