@if (isCollecting$ | ngrxPush) {
<div class="collecting-spinner-container">
  <ion-spinner></ion-spinner>
</div>
} @if (isCollecting$ | ngrxPush) {
<ion-icon name="hourglass-outline" class="collecting"></ion-icon>
}

<div class="bottom-left-icons">
  @if (hasUploaded$ | ngrxPush) {
  <ion-icon src="/assets/images/media-id.svg" class="uploaded"> </ion-icon>
  } @if (hasGeolocation$ | ngrxPush) {
  <ion-icon src="/assets/images/location.svg" class="located"></ion-icon>
  } @if (hasCaption$ | ngrxPush) {
  <ion-icon name="document-text-outline" class="with-caption"></ion-icon>
  }
</div>

@if (isVideo$ | ngrxPush) {
<ion-icon name="videocam" class="is-video"></ion-icon>
} @if (thumbnailUrl$ | ngrxPush; as thumbnailUrl) {
<img loading="lazy" decoding="async" [src]="thumbnailUrl" />
} @if (isThumbnailMissing$ | ngrxPush) {
<mat-icon class="is-thumbnail-missing"> broken_image </mat-icon>
}
