<mat-toolbar color="background" class="thin-upload-bar" id="thin-upload-bar">
  <ng-container *ngrxLet="uploadingBarState$ as uploadingBarState">
    @if (uploadingBarState.spacer) {
    <span class="text spacer-text">{{ uploadingBarState.text }}</span>
    } @if (!uploadingBarState.spacer) {
    <span class="text">{{ uploadingBarState.text }}</span>
    } @if (uploadingBarState.spacer) {
    <span class="spacer">
      @if (uploadingBarState.showProgressBar) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
    </span>
    } @if (uploadingBarState.showPauseButton) {
    <mat-icon (click)="pause()">pause</mat-icon>
    } @if (uploadingBarState.showResumeButton) {
    <mat-icon (click)="resume()">publish</mat-icon>
    }
  </ng-container>
</mat-toolbar>
