.page-content {
  mat-spinner {
    margin: 36px auto 0;
  }

  span.empty-inbox {
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
  }
  mat-list-item.inbox-list-item {
    height: auto;
    min-height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;

    img[matListItemAvatar] {
      border-radius: 4px;
      width: calc(100vw / 3);
      height: calc(100vw / 3);
      max-width: 150px;
      max-height: 150px;
      margin-top: 0;
      margin-bottom: 0;
      object-fit: cover;
      align-self: center;
    }

    .mdc-list-item__content {
      align-self: center;
    }

    .action {
      display: flex;
      gap: 4px;
      align-self: center;

      button {
        flex-grow: 1;
      }
    }
  }
}

mat-toolbar {
  span {
    padding-right: 40px;
  }
}
