// Custom Theming for Angular Material
@use '@angular/material' as mat;
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// The following line adds:
//   1. Default typography styles for all components
//   2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
// If you specify typography styles for the components you use elsewhere, you should delete this line.
// If you don't need the default component typographies but still want the hierarchy styles,
// you can delete this line and instead use:
//   `@include mat.typography-hierarchy(mat.define-typography-config());`
@include mat.all-component-typographies();
@include mat.core();

$capture-primary-light: (
  50: #e0e0fa,
  100: #b3b3f3,
  200: #8080ec,
  300: #4d4de4,
  400: #2626de,
  500: #0000d8,
  600: #0000d4,
  700: #0000ce,
  800: #0000c8,
  900: #0000bf,
  A100: #e7e7ff,
  A200: #b4b4ff,
  A400: #8181ff,
  A700: #6868ff,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #fff,
  ),
);

$capture-primary-dark: (
  50: #e9edfa,
  100: #c8d3f4,
  200: #a4b6ec,
  300: #7f98e4,
  400: #6382df,
  500: #486cd9,
  600: #4164d5,
  700: #3859cf,
  800: #304fca,
  900: #213dc0,
  A100: #fafbff,
  A200: #c7cfff,
  A400: #94a4ff,
  A700: #7a8fff,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
    700: #000,
    800: #000,
    900: #000,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary-light: mat.m2-define-palette($capture-primary-light, 400);
$app-primary-dark: mat.m2-define-palette($capture-primary-dark, 500);
$app-accent: mat.m2-define-palette(mat.$m2-teal-palette, 200);

// The warn palette is optional (defaults to red).
$app-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $app-primary-light,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $app-primary-dark,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($app-theme);

// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary - custom brand color **/
  --ion-color-primary: #0000d8;
  --ion-color-primary-rgb: 0, 0, 216;
  --ion-color-primary-contrast: black;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0000d8;
  --ion-color-primary-tint: #0000d8;

  /** secondary - custom brand color **/
  --ion-color-secondary: #6ee4d2;
  --ion-color-secondary-rgb: 110, 228, 210;
  --ion-color-secondary-contrast: black;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #61c9b9;
  --ion-color-secondary-tint: #7de7d7;

  // loading animation
  --loading-background-start: var(--ion-color-light-shade);
  --loading-background-end: var(--ion-color-light);

  // noir colors
  --noir-primary: black;
  --noir-secondary-dark: #486cd9;
  --noir-secondary-light: #0000d8;
  --noir-warn: #f64662;
  --noir-success: #66c109;
  --noir-simple: #597393;
  --noir-numbers-light: #f2f2f2;
  --noir-numbers-mid: grey;
  --noir-numbers-dark: #4d4d4d;
}

:root.dark {
  @include mat.all-component-colors($dark-theme);

  --capture-color-dark-background: black;
  --capture-color-dark-contrast: #444;

  /** primary **/
  --ion-color-primary: #486cd9;
  --ion-color-primary-rgb: 0, 201, 255;
  --ion-color-primary-contrast: white;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #486cd9;
  --ion-color-primary-tint: #486cd9;

  /** secondary **/
  --ion-color-secondary: #50c8ff;
  --ion-color-secondary-rgb: 80, 200, 255;
  --ion-color-secondary-contrast: white;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #46b0e0;
  --ion-color-secondary-tint: #62ceff;

  /** tertiary **/
  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106, 100, 255;
  --ion-color-tertiary-contrast: white;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  /** success **/
  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: black;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  /** warning **/
  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: black;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  /** danger **/
  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: white;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  /** dark **/
  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: black;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: black;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: white;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

  // loading animation
  --loading-background-start: var(--ion-background-color-step-150);
  --loading-background-end: var(--ion-background-color-step-100);
}

:root.ios.dark {
  --ion-background-color: black;
  --ion-background-color-rgb: 0, 0, 0;
  --ion-text-color: white;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-background-color-step-50: #0d0d0d;
  --ion-background-color-step-100: #1a1a1a;
  --ion-background-color-step-150: #262626;
  --ion-background-color-step-200: #333;
  --ion-background-color-step-250: #404040;
  --ion-background-color-step-300: #4d4d4d;
  --ion-background-color-step-350: #595959;
  --ion-background-color-step-400: #666;
  --ion-background-color-step-450: #737373;
  --ion-background-color-step-500: gray;
  --ion-background-color-step-550: #8c8c8c;
  --ion-background-color-step-600: #999;
  --ion-background-color-step-650: #a6a6a6;
  --ion-background-color-step-700: #b3b3b3;
  --ion-background-color-step-750: #bfbfbf;
  --ion-background-color-step-800: #ccc;
  --ion-background-color-step-850: #d9d9d9;
  --ion-background-color-step-900: #e6e6e6;
  --ion-background-color-step-950: #f2f2f2;
  --ion-text-color-step-950: #0d0d0d;
  --ion-text-color-step-900: #1a1a1a;
  --ion-text-color-step-850: #262626;
  --ion-text-color-step-800: #333;
  --ion-text-color-step-750: #404040;
  --ion-text-color-step-700: #4d4d4d;
  --ion-text-color-step-650: #595959;
  --ion-text-color-step-600: #666;
  --ion-text-color-step-550: #737373;
  --ion-text-color-step-500: gray;
  --ion-text-color-step-450: #8c8c8c;
  --ion-text-color-step-400: #999;
  --ion-text-color-step-350: #a6a6a6;
  --ion-text-color-step-300: #b3b3b3;
  --ion-text-color-step-250: #bfbfbf;
  --ion-text-color-step-200: #ccc;
  --ion-text-color-step-150: #d9d9d9;
  --ion-text-color-step-100: #e6e6e6;
  --ion-text-color-step-50: #f2f2f2;
  --ion-toolbar-background: #0d0d0d;
  --ion-item-background: black;
  --ion-card-background: #1c1c1d;
}

:root.md.dark {
  --ion-background-color: black;
  --ion-background-color-rgb: 18, 18, 18;
  --ion-text-color: white;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-border-color: #222;
  --ion-background-color-step-50: #1e1e1e;
  --ion-background-color-step-100: #2a2a2a;
  --ion-background-color-step-150: #363636;
  --ion-background-color-step-200: #414141;
  --ion-background-color-step-250: #4d4d4d;
  --ion-background-color-step-300: #595959;
  --ion-background-color-step-350: #656565;
  --ion-background-color-step-400: #717171;
  --ion-background-color-step-450: #7d7d7d;
  --ion-background-color-step-500: #898989;
  --ion-background-color-step-550: #949494;
  --ion-background-color-step-600: #a0a0a0;
  --ion-background-color-step-650: #acacac;
  --ion-background-color-step-700: #b8b8b8;
  --ion-background-color-step-750: #c4c4c4;
  --ion-background-color-step-800: #d0d0d0;
  --ion-background-color-step-850: #dbdbdb;
  --ion-background-color-step-900: #e7e7e7;
  --ion-background-color-step-950: #f3f3f3;
  --ion-text-color-step-950: #1e1e1e;
  --ion-text-color-step-900: #2a2a2a;
  --ion-text-color-step-850: #363636;
  --ion-text-color-step-800: #414141;
  --ion-text-color-step-750: #4d4d4d;
  --ion-text-color-step-700: #595959;
  --ion-text-color-step-650: #656565;
  --ion-text-color-step-600: #717171;
  --ion-text-color-step-550: #7d7d7d;
  --ion-text-color-step-500: #898989;
  --ion-text-color-step-450: #949494;
  --ion-text-color-step-400: #a0a0a0;
  --ion-text-color-step-350: #acacac;
  --ion-text-color-step-300: #b8b8b8;
  --ion-text-color-step-250: #c4c4c4;
  --ion-text-color-step-200: #d0d0d0;
  --ion-text-color-step-150: #dbdbdb;
  --ion-text-color-step-100: #e7e7e7;
  --ion-text-color-step-50: #f3f3f3;
  --ion-toolbar-background: #1f1f1f;
  --ion-tab-bar-background: #1f1f1f;
  --ion-item-background: black;
  --ion-card-background: #1e1e1e;
}
