<div class="home-container" *transloco="let t">
  <mat-tab-group
    preserveContent
    headerPosition="below"
    mat-stretch-tabs
    mat-align-tabs="center"
    [disablePagination]="true"
    [(selectedIndex)]="selectedTabIndex"
    animationDuration="0ms"
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <button mat-icon-button (click)="navigateToInboxTab()">
          <mat-icon
            svgIcon="profile"
            class="tab-action-button-icon"
            joyrideStep="highlightInboxTab"
            [title]="t('userGuide.inboxTab')"
            [text]="
              t('userGuide.visitInboxForPurchasedItemsAndGiftsReceived')
            "
          ></mat-icon>
        </button>
      </ng-template>
      <app-capture-tab></app-capture-tab>
    </mat-tab>
    <mat-tab disabled>
      <ng-template mat-tab-label>
        <button
          mat-icon-button
          (click)="captureWithCustomCamera(); $event.stopPropagation()"
        >
          <mat-icon
            svgIcon="capture"
            class="tab-action-button-icon"
            joyrideStep="highlightCaptureButton"
            [title]="t('userGuide.capture')"
            [text]="
              t('userGuide.createCapturesByTakingPhotosOrRecordingVideos')
            "
          ></mat-icon>
        </button>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <button mat-icon-button (click)="navigateToCollectionTab()">
          <mat-icon
            svgIcon="collection"
            class="tab-action-button-icon"
            joyrideStep="highlightHomeTab"
            title="Home Tab"
            text="View created captures"
          ></mat-icon>
        </button>
      </ng-template>
      <app-collection-tab></app-collection-tab>
    </mat-tab>
  </mat-tab-group>
</div>
