.home-container {
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.tab-action-button-icon {
  height: 24px;
  width: 24px;
  color: var(--ion-color-primary);
}

.postcapture-tab-icon {
  height: 20px;
  width: 20px;
  color: white;
}

mat-tab-group {
  flex-grow: 1;
  min-height: 0;
}

/* Ensure buttons in disabled tabs are still clickable */
/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
:host ::ng-deep .mat-mdc-tab.mat-mdc-tab-disabled {
  button {
    pointer-events: auto;
  }
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
:host ::ng-deep .mat-mdc-tab-body-wrapper {
  flex-grow: 1;
}
