<div class="segments" *transloco="let t">
  <ion-segment mode="ios" [(ngModel)]="categories">
    <ion-segment-button
      value="photo"
      checked
      joyrideStep="highlightImageView"
      [title]="t('userGuide.galleryView')"
      [text]="t('userGuide.browseInGalleryView')"
    >
      <ion-icon src="/assets/images/apps.svg" class="segment"></ion-icon>
    </ion-segment-button>
    <ion-segment-button
      value="series"
      joyrideStep="highlightCollectionView"
      [title]="t('userGuide.collectionView')"
      [text]="t('userGuide.browseInCollectionView')"
    >
      <ion-icon src="/assets/images/series.svg" class="segment"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  @if ((networkConnected$ | ngrxPush) === false) {
  <p class="network-status">
    {{ 'message.networkNotConnected' | transloco }}
  </p>
  } @switch (categories) { @case ('photo') {
  <div class="post-captures">
    <mat-grid-list cols="3" gutterSize="8px">
      @for (postCapture of postCaptures$ | ngrxPush; track
      trackPostCapture($index, postCapture)) {
      <mat-grid-tile
        [routerLink]="['details', { type: 'post-capture', id: postCapture.id }]"
      >
        @if (postCapture.asset_file_mime_type; as mimeType) { @if (mimeType |
        startsWith: 'video') {
        <ion-icon name="videocam" class="is-video"></ion-icon>
        } } @if (postCapture.source_type === 'store') {
        <ion-icon name="storefront" class="is-from-store"></ion-icon>
        }
        <ion-img [src]="postCapture.asset_file_thumbnail"></ion-img>
      </mat-grid-tile>
      }
    </mat-grid-list>
  </div>
  } @case ('series') {
  <div class="series">
    @for (series of collectedSeriesList$ | ngrxPush; track series) {
    <ion-card [routerLink]="['series', { id: series.id }]">
      <ion-img
        [src]="
          series.cover_image || '/assets/images/series-cover-placeholder.png'
        "
      ></ion-img>
    </ion-card>
    }
  </div>
  } }
</div>
