<mat-toolbar color="primary" *transloco="let t">
  <app-capture-back-button></app-capture-back-button>
  <span>GoPro Setup</span>
</mat-toolbar>

<ion-content>
  <ion-list>
    <ion-button
      expand="block"
      [disabled]="bluetoothIsScanning"
      (click)="scanForBluetoothDevices()"
      class="scan-for-bluetooth-devices-btn"
    >
      {{ bluetoothIsScanning ? 'Scanning' : 'Scan for bluetooth devices' }}
    </ion-button>

    @if (bluetoothScanResults.length > 0) { @for (scanResult of
    bluetoothScanResults; track scanResult) {
    <ion-item>
      <ion-label>
        <h2>{{ scanResult.device.name }}</h2>
        <p class="device-id-text">{{ scanResult.device.deviceId }}</p>
      </ion-label>
      @if ( scanResult.device.deviceId ===
      bluetoothConnectedDevice?.device?.deviceId ) {
      <ion-button
        (click)="disconnectFromBluetoothDevice(scanResult)"
        color="danger"
        slot="end"
      >
        Disconnect
      </ion-button>
      } @if ( scanResult.device.deviceId !==
      bluetoothConnectedDevice?.device?.deviceId ) {
      <ion-button
        (click)="connectToBluetoothDevice(scanResult)"
        slot="end"
        class="connect-to-bluetooth-device-btn"
      >
        Connect
      </ion-button>
      }
    </ion-item>
    } }

    <div class="spacer"></div>

    @if (bluetoothConnectedDevice) {
    <ng-container class="connected-bluetooth-device-container">
      <ion-list-header>
        <h4>
          CONNECTED TO:
          {{ bluetoothConnectedDevice.device.name }}
          ✅
        </h4>
      </ion-list-header>
      <ion-item detail="true" (click)="showFilesOnGoPro()">
        <ion-label>Show files on go pro</ion-label>
      </ion-item>
    </ng-container>
    }

    <div class="spacer-bottom"></div>
  </ion-list>
</ion-content>
