<div class="action-buttons">
  <button (click)="onDiscard()" class="back-button" mat-mini-fab>
    <mat-icon>arrow_back</mat-icon>
  </button>

  @if ((isProcessingImage$ | ngrxPush) === false) {
  <button (click)="onConfirm()" class="confirm-button" mat-flat-button>
    {{ 'customCamera.confirmCapture' | transloco }}
  </button>
  }
</div>

<div class="preview">
  <app-media
    [src]="curCaptureSrc$ | ngrxPush"
    [filePath]="curCaptureFilePath$ | ngrxPush"
    [mimeType]="curCaptureMimeType$ | ngrxPush"
    [class.grayscale]="
      (isImage$ | ngrxPush) && (isBlackAndWhiteEnabled$ | ngrxPush)
    "
  ></app-media>

  @if (isImage$ | ngrxPush) {
  <div class="image-editor-custom-buttons">
    <button
      (click)="toggleBlackAndWhiteFilter()"
      class="image-editor-button"
      [class.active]="isBlackAndWhiteEnabled$ | ngrxPush"
      mat-mini-fab
    >
      <mat-icon
        class="black-and-white-filter-button"
        svgIcon="capture-rebrand-camera-auto-enhance"
      ></mat-icon>
    </button>
  </div>
  }
</div>

@if (isVideo$ | ngrxPush) {
<div class="footer"></div>
}
