@if (isLoading$ | ngrxPush) {
<div class="wrapper">
  <div class="loading-spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</div>
}
<ng-container *ngrxLet="src$ as src">
  @if (isImage$ | ngrxPush) {
  <img decoding="async" loading="lazy" [src]="src" (load)="onImageLoaded()" />
  }

  <!-- Plays video with Android Native Player -->
  @if ((playWithAndroidNativePlayer$ | async) === true) {
  <preview-video [id]="previewVideoId" #previewVideo></preview-video>
  }

  <!-- Plays video with HTML video tag -->
  @if ((playWithAndroidNativePlayer$ | async) === false) { @if (isVideo$ |
  ngrxPush) {
  <video
    [src]="src"
    autoplay
    [muted]="'muted'"
    playsinline
    (loadeddata)="onVideoLoaded()"
  ></video>
  } }
</ng-container>
