mat-toolbar {
  span {
    padding-right: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: white;
  }
}

form {
  padding: 16px;
}

// add background to form fields
:host ::ng-deep {
  .mat-mdc-form-field {
    .mdc-text-field--outlined {
      background-color: #212121;
    }

    .mdc-notched-outline {
      border-radius: 4px;
    }
  }
}

ion-footer {
  padding: 8px 16px;
}
