/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
// @import "@ionic/angular/css/padding.css";
// @import "@ionic/angular/css/float-elements.css";
// @import "@ionic/angular/css/text-alignment.css";
// @import "@ionic/angular/css/text-transformation.css";
// @import "@ionic/angular/css/flex-utils.css";

/* Dark mode support - uses prefers-color-scheme media query */
@import '@ionic/angular/css/palettes/dark.class.css';

/* Swiper */
@import 'swiper/scss';

@font-face {
  font-family: 'Space Grotesk';
  src: url('./assets/fonts/space-grotesk/SpaceGrotesk-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

html {
  --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom);
  --ion-safe-area-left: env(safe-area-inset-left);
  --ion-safe-area-right: env(safe-area-inset-right);
}

body {
  width: 100vw;
  height: 100vh;
}

.ios-bottom-safe-area {
  padding-bottom: var(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  background-color: var(--ion-color-primary);
}

ion-app {
  background-color: white;
  margin-top: env(safe-area-inset-top);
  margin-bottom: env(safe-area-inset-bottom);
}

.ion-page {
  color: var(--ion-text-color, black);
  background-color: var(--capture-color-dark-background, white);
}

.page-content {
  flex: 1 1 auto;
  overflow: auto;
}

:root.dark .mat-toolbar {
  background-color: var(--ion-background-color);
  color: var(--ion-color-primary);
}

.details-page-options-menu-remove-button {
  span {
    color: #f33434;
  }
}

.capture-tab-menu-logout-button {
  span {
    color: var(--ion-color-primary);
  }
}

mat-toolbar.mat-toolbar {
  background-color: var(--ion-background-color);
  color: var(--ion-color-primary);
  min-height: 56px;

  > span {
    flex-grow: 1;
    text-align: center;
  }
}

mat-tab-body {
  background-color: var(--capture-color-dark-background, white);
}

button.expand {
  width: calc(100vw - 16px);
  margin: 0 8px;
}

ion-button {
  text-transform: none;
}

.snackbar-error {
  background-color: #eb445a;

  .mat-mdc-snack-bar-action {
    color: white;
  }
}

@keyframes loading {
  0% {
    background-color: var(--loading-background-start);
  }

  100% {
    background-color: var(--loading-background-end);
  }
}

:root.dark .mat-sidenav {
  background-color: var(--noir-primary);
}

:root.dark .mat-mdc-dialog-container {
  background-color: var(--noir-primary);
}

:root.dark .num-transfer-dialog mat-dialog-container {
  background-color: white;
}

:root.dark .onboarding-pop-up-dialog mat-dialog-container {
  background-color: white;
  border-radius: 16px;
  max-width: 364px;
  // max-height: 438px;
}

:root.dark .order-detail-dialog mat-dialog-container {
  background-color: #212121;
  border-radius: 8px;
  max-width: 420px;
  margin: auto;
}

:root.dark .mat-mdc-card {
  background-color: var(--ion-color-light-shade);
}

:root.dark .mat-mdc-tab-group {
  background-color: var(--ion-background-color);
}

.go-pro-alert-message-with img {
  width: 100%;
  height: 150px;
  border-radius: 4px;
  overflow: hidden;
  object-fit: cover;
  align-self: center;
}

.custom-camera-transparent-background {
  background-color: transparent;
}

// styling for ngx-joyride START
.joyride-step__container {
  border-radius: 15px;
  max-height: 200px;
}

.joyride-button {
  background-color: #0000d8 !important; /* stylelint-disable-line declaration-no-important */
  border-radius: 15px;
}

.joyride-step__close {
  display: none;
}

.joyride-step__header {
  padding: 0 8px 8px !important; /* stylelint-disable-line declaration-no-important */
}

.joyride-step__title {
  color: #0000d8 !important; /* stylelint-disable-line declaration-no-important */
}

.joyride-step__body {
  padding: 0 8px 10px !important; /* stylelint-disable-line declaration-no-important */
}
// styling for ngx-joyride END
