<mat-toolbar color="primary" *transloco="let t">
  @if (!multiSelectMode) {
  <button (click)="goBack()" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ t('gopro.goProMediaOnCamera') }}</span>
  } @else {
  <button (click)="exitMultiSelectMode()" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
  @if (multiSelectMode) {
  <span>
    {{ t('gopro.filesSelected', { count: selectedGoProFiles.length }) }}
  </span>
  } }

  <button (click)="fetchFilesFromGoProWiFi()" mat-icon-button>
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="wifi-state-container" *transloco="let t">
  <h4>{{ t('gopro.connectedWiFi') }}: {{ connectedWifiSSID }}</h4>

  @if (!isConnectedToGoProWifi) {
  <ion-button
    (click)="connectToGoProWifi()"
    [disabled]="isConnectingToGoProWifi"
    class="connect-to-go-pro-wifi-btn"
  >
    {{ t('gopro.connectToGoProWiFi') }}
  </ion-button>
  } @if (multiSelectMode) {
  <ion-button
    [disabled]="selectedGoProFiles.length === 0"
    (click)="uploadSelectedFiles()"
    class="multi-select-mode-btn"
  >
    {{ t('gopro.uploadToCapture') }}
  </ion-button>
  } @if (shouldConnectToWiFi) {
  <h4 class="should-connect-to-wifi-text">
    {{ t('gopro.makeSureYouAreConnectedToGoProWiFiFirst') }}
  </h4>
  } @if (fetchingFilesError) {
  <h4>
    {{ fetchingFilesError }}
    <br />
    {{ t('gopro.hintClickTheRefreshButtonAtTheTopRight') }}
  </h4>
  } @if (fetchingFiles) {
  <h4>{{ t('gopro.fetchingFiles') }}...</h4>
  } @if (uploadInProgress) {
  <span class="upload-in-progress-info">
    <ion-icon name="information-circle-outline"></ion-icon>
    {{
      t('gopro.stayOnThisScreenWithTheAppOpenToEnsureYourDownloadsAreComplete')
    }}
  </span>
  }
</div>

<ng-template *transloco="let t">
  @if (uploadInProgress) {
  <app-go-pro-media-loading-bar
    [loadingText]="
      t('gopro.loadingFilesForUploadToCapture', {
        count: filesToUpload.length + 1
      })
    "
    (uploadCancel)="onUploadCancel()"
  ></app-go-pro-media-loading-bar>
  }
</ng-template>

<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="ionScrollStart()"
  (ionScrollEnd)="ionScrollEnd()"
>
  <div class="go-pro-container">
    <mat-grid-list cols="3" gutterSize="8px">
      @for (mediaFile of allMediaFiles; track mediaFile) {
      <mat-grid-tile class="go-pro-item">
        <app-go-pro-media-list-item-on-camera
          appLongPress
          (appLongPress)="enterMultiSelectMode(mediaFile)"
          (click)="onItemClick(mediaFile)"
          [mediaFile]="mediaFile"
          [selected]="isItemInSelectedList(mediaFile)"
        >
        </app-go-pro-media-list-item-on-camera>
      </mat-grid-tile>
      }
    </mat-grid-list>
  </div>
</ion-content>
